body{
    background-color: antiquewhite;
    margin-bottom:0;
}
h1{
    background-color:aliceblue;
    color:indianred;
}
nav ul{
    list-style-type: none;
    background-color:cadetblue;
    margin: 0;
    padding:20px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    text-align: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
nav ul li a:hover{
    text-decoration: underline;
}
*{
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  footer{
    background-color:aquamarine;
    color:black;
    text-align:center;
    margin-top: 25;
    padding: 5px 0;
}
h3{
    background-color: darkseagreen;
    color: aliceblue;
}
h1{
    text-shadow: 5px 5px 10px rgb(21, 255, 0);
}
h2{
    text-shadow: 5px 5px 10px rgb(209, 34, 34),10px 10px 20px yellow;
}